<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>
        {% block title %}
        {{ SITENAME }}
        {%endblock%}</title>

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation.min.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" />
    <script src="{{ SITEURL }}/theme/js/custom.modernizr.js"></script>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ SITEURL }}/theme/images/icons/favicon.png">
</head>

<body>

<!-- Title Bar -->
<nav>
    <div class="top-bar">
    <div class="row">
        <div class="large-12 large-centered columns">
            <a>
            <img class="top-bar img"
            style="float:left; left:0em; top:0em; margin-left: 2em; border: 0; height:3em; float:left;"
            src="images/logos/logo_evocLearn.png"
            alt="no image" />
            </a>
            <h1><a
                style="float:left; margin-left: .3em;"
                href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
            <!-- <a href="{{ GITHUB_URL }}">
                <img class="top-bar img"
                style="float: right; margin-right: 2em; border: 0; height:2.5em" src="images/icon_github-logo-30.png" alt="Code on GitHub" />
            </a> -->
        </div>
</div>
</div>

<!-- Show menu items and pages -->
<!-- <div class="nav-bar"> -->
<div class="row">
  <!-- <div class="large-12 large-centered columns" > -->
    <div class="large-1 columns">
      <p></p>
    </div>

    <div class="large-11 columns">
      <ul class="hor-nav">
        {% for title, link, url in PAGES %}
          {% if url + ".html" == output_file %}
            <li><a class="light" href="{{ SITEURL }}/{{ link }}">{{ title }}</a></li>
          {% else %}
            <li><a href="{{ SITEURL }}/{{ link }}"> {{ title }}</a></li>
          {% endif %}
        {% endfor %}
        {% for title, link in LINKS %}
          <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </div>
<!-- </div> -->
</div>
</nav>
<!-- End Nav -->

<!-- Main Page Content and Sidebar -->
<div class="row">
    <!-- Sidebar -->
    <div class="large-2 columns">
      <p></p>
    </div>
    <!-- End Main Content -->


    <!-- Main Content -->
    <div class="large-7 columns">
      <br>
    {% block content %}{% endblock %}
    </div>
    <!-- End Main Content -->

    <!-- Sidebar -->
    <div class="large-3 columns">
        <ul class="logos">
          <h5 class="sidebar-title">Team</h5>
          {% include "logos.html" %}
        </ul>
        <ul class="logos">
          <h5 class="sidebar-title">Funded by</h5>
          {% include "logos_funded.html" %}
        </ul>
    <!-- End Sidebar --> 
    </div> <!-- End Main Content and Sidebar -->

</div> <!-- End Main Content and Sidebar -->


<!-- Footer -->
<footer class="row">
    <div class="large-12 columns">
        <hr />
        <div class="row">
            <div class="large-12 columns">
                <p>
                    <!-- <a href="/">{{ SITENAME }}</a> by
                    <a href="https://github.com/gerazov">{{ AUTHOR }}</a>. -->
            <!-- </p> -->
            <!-- <p> -->
                    Powered by <a href="http://getpelican.com/">Pelican</a>
                    and based on <a href="https://github.com/getpelican/pelican-themes/tree/master/tuxlite_zf">TuxLite ZF</a>  theme.
                </p>
                <p>
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>  The content is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons BY-NC 4.0 License</a>.
                </p>
            </div>
            </div>
    </div>
{% include "analytics.html" %}
</footer>
